
<div class="container"> 
  <div{{ attributes.addClass('main-next_step')  }}>  
  <p class="field-link">
  <a href = {{ link|striptags ({ '' : ''}) }} ></a>
  </p>
    <div class="field--name-field-title">
      {{ title }}
    </div>
    <div class="container-description">
      {{ description }}
    </div>
  </div>
</div> 
