<div class="container">
  <div{{ attributes.addClass('main-accordion')  }}>
    <div class="field--name-field-title">
      {{ title }}
  </div>
  <div class="container-description hidden">
    {{ description}}
      {# {% block description %}{% endblock %} #}
  </div>
 </div>
</div>
